In [1]:
import psycopg2
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd

In [2]:
covid_cases = pd.read_csv("covid-cases-by-state.csv")

In [3]:
covid_cases.head()

,State,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Cases per million,Deaths per million,Tests,Tests per million,Total Population,Source,Projections
0,California,"2,345,657",NaN,"26,294",NaN,"971,395","1,347,968","59,365",665,"33,058,311","836,660","39,512,223",[view by county] [1],[projections]
1,Texas,"1,784,569",NaN,"28,506",NaN,"1,453,639","302,424","61,546",983,"15,832,807","546,036","28,995,881",[view by county] [1] [2] [3],[projections]
2,Florida,"1,323,315",NaN,"21,673",NaN,"735,381","566,261","61,613","1,009","15,703,599","731,157","21,477,737",[view by county] [1] [2] [3],[projections]
3,New York,"1,031,053",NaN,"38,145",NaN,"478,718","514,190","53,001","1,961","25,504,313","1,311,036","19,453,561",[view by county] [1] [2] [3],[projections]
4,Illinois,"970,590",NaN,"18,173",NaN,"697,704","254,713","76,594","1,434","13,374,665","1,055,465","12,671,821",[1] [2] [3] [4] [5],[projections]

In [4]:
covid_cases = covid_cases[['State', 'Total Cases', 'Total Deaths', 'Cases per million', 'Deaths per million', 'Tests', 'Tests per million', 'Total Population']]

In [5]:
covid_cases

,State,Total Cases,Total Deaths,Cases per million,Deaths per million,Tests,Tests per million,Total Population
0,California,"2,345,657","26,294","59,365",665,"33,058,311","836,660","39,512,223"
1,Texas,"1,784,569","28,506","61,546",983,"15,832,807","546,036","28,995,881"
2,Florida,"1,323,315","21,673","61,613","1,009","15,703,599","731,157","21,477,737"
3,New York,"1,031,053","38,145","53,001","1,961","25,504,313","1,311,036","19,453,561"
4,Illinois,"970,590","18,173","76,594","1,434","13,374,665","1,055,465","12,671,821"
5,Ohio,"700,380","8,962","59,917",767,"7,680,270","657,045","11,689,100"
6,Georgia,"677,589","10,958","63,819","1,032","5,806,022","546,839","10,617,423"
7,Pennsylvania,"661,731","16,307","51,690","1,274","7,421,572","579,720","12,801,989"
8,Tennessee,"586,802","6,907","85,926","1,011","5,571,715","815,870","6,829,174"
9,North Carolina,"539,545","6,748","51,444",643,"6,898,509","657,747","10,488,084"
10,Arizona,"539,150","9,061","74,072","1,245","3,296,944","452,957","7,278,717"
11,Michigan,"528,621","13,018","52,932","1,304","8,630,181","864,154","9,986,857"
12,Indiana,"517,773","8,371","76,910","1,243","5,730,043","851,137","6,732,219"
13,New Jersey,"491,951","19,297","55,386","2,173","7,792,714","877,342","8,882,190"
14,Wisconsin,"483,007","4,869","82,956",836,"2,840,064","487,780","5,822,434"
15,Missouri,"424,972","6,081","69,243",991,"4,149,352","676,073","6,137,428"
16,Minnesota,"417,832","5,436","74,089",964,"5,616,567","995,910","5,639,632"
17,Massachusetts,"375,178","12,423","54,433","1,802","10,944,699","1,587,914","6,892,503"
18,Alabama,"365,747","4,872","74,594",994,"1,973,198","402,432","4,903,185"
19,Virginia,"358,755","5,117","42,031",599,"5,199,016","609,104","8,535,519"
20,Colorado,"337,161","4,873","58,548",846,"2,145,411","372,549","5,758,736"
21,Louisiana,"315,275","7,488","67,819","1,611","4,400,149","946,514","4,648,794"
22,South Carolina,"312,718","5,385","60,737","1,046","3,703,632","719,331","5,148,714"
23,Oklahoma,"290,936","2,489","73,525",629,"2,669,170","674,549","3,956,971"
24,Maryland,"283,171","5,967","46,839",987,"5,807,666","960,631","6,045,680"
25,Iowa,"283,141","3,898","89,742","1,235","1,361,703","431,592","3,155,070"
26,Utah,"276,612","1,269","86,281",396,"2,673,611","833,951","3,205,958"
27,Kentucky,"265,262","2,623","59,374",587,"3,414,879","764,353","4,467,673"
28,Washington,"250,821","3,573","32,938",469,"3,836,820","503,857","7,614,893"
29,Kansas,"229,556","2,879","78,795",988,"1,012,506","347,544","2,913,314"
30,Arkansas,"229,442","3,711","76,029","1,230","2,297,510","761,318","3,017,804"
31,Nevada,"227,046","3,146","73,713","1,021","2,095,778","680,413","3,080,156"
32,Mississippi,"218,386","4,816","73,379","1,618","1,730,435","581,434","2,976,149"
33,Connecticut,"185,708","5,995","52,088","1,681","4,309,664","1,208,785","3,565,287"
34,Nebraska,"167,716","1,668","86,701",862,"850,362","439,598","1,934,408"
35,New Mexico,"144,142","2,502","68,743","1,193","1,983,507","945,956","2,096,829"
36,Idaho,"141,077","1,436","78,943",804,"859,851","481,153","1,787,065"
37,Oregon,"115,339","1,490","27,346",353,"2,652,670","628,932","4,217,737"
38,South Dakota,"99,164","1,488","112,093","1,682","372,640","421,224","884,659"
39,North Dakota,"92,495","1,292","121,375","1,695","376,910","494,592","762,062"
40,West Virginia,"89,327","1,373","49,844",766,"1,535,296","856,680","1,792,147"
41,Rhode Island,"87,949","1,777","83,021","1,677","1,974,498","1,863,858","1,059,361"
42,Montana,"81,944",971,"76,671",909,"792,779","741,762","1,068,778"
43,Delaware,"58,064",930,"59,628",955,"511,924","525,717","973,764"
44,Alaska,"45,461",205,"62,144",280,"1,275,750","1,743,912","731,545"
45,Wyoming,"44,409",438,"76,731",757,"501,784","867,000","578,759"
46,New Hampshire,"44,028",759,"32,380",558,"1,032,929","759,668","1,359,711"
47,District Of Columbia,"29,252",788,"41,448","1,117","904,302","1,281,337","705,749"
48,Maine,"24,201",347,"18,004",258,"1,207,730","898,467","1,344,212"
49,Hawaii,"21,638",289,"15,282",204,"816,811","576,896","1,415,872"
50,Vermont,"7,412",136,"11,878",218,"697,705","1,118,137","623,989"
51,Puerto Rico,"134,478","1,526","39,705",451,"464,073","137,018","3,386,941"
52,Guam,"7,326",122,NaN,NaN,"101,841",NaN,NaN
53,United States Virgin Islands,"2,036",23,NaN,NaN,"36,266",NaN,NaN
54,Northern Mariana Islands,122,2,NaN,NaN,"26,131",NaN,NaN
55,American Samoa,3,NaN,NaN,NaN,NaN,NaN,NaN
56,US Military,"162,764",180,NaN,NaN,NaN,NaN,NaN
57,Veteran Affairs,"155,679","6,670",NaN,NaN,"1,147,878",NaN,NaN
58,Federal Prisons,"44,187",181,NaN,NaN,"95,830",NaN,NaN
59,Navajo Nation,"23,429",813,NaN,NaN,"204,307",NaN,NaN

In [16]:
state_abbreviations = pd.read_csv('state_abbreviations.csv')
state_abbreviations

                   State  Abbrev Code
0                Alabama    Ala.   AL
1                 Alaska  Alaska   AK
2                Arizona   Ariz.   AZ
3               Arkansas    Ark.   AR
4             California  Calif.   CA
5               Colorado   Colo.   CO
6            Connecticut   Conn.   CT
7               Delaware    Del.   DE
8   District of Columbia    D.C.   DC
9                Florida    Fla.   FL
10               Georgia     Ga.   GA
11                Hawaii  Hawaii   HI
12                 Idaho   Idaho   ID
13              Illinois    Ill.   IL
14               Indiana    Ind.   IN
15                  Iowa    Iowa   IA
16                Kansas   Kans.   KS
17              Kentucky     Ky.   KY
18             Louisiana     La.   LA
19                 Maine   Maine   ME
20              Maryland     Md.   MD
21         Massachusetts   Mass.   MA
22              Michigan   Mich.   MI
23             Minnesota   Minn.   MN
24           Mississippi   Miss.   MS
25              Missouri     Mo.   MO
26               Montana   Mont.   MT
27              Nebraska   Nebr.   NE
28                Nevada    Nev.   NV
29         New Hampshire    N.H.   NH
30            New Jersey    N.J.   NJ
31            New Mexico    N.M.   NM
32              New York    N.Y.   NY
33        North Carolina    N.C.   NC
34          North Dakota    N.D.   ND
35                  Ohio    Ohio   OH
36              Oklahoma   Okla.   OK
37                Oregon    Ore.   OR
38          Pennsylvania     Pa.   PA
39          Rhode Island    R.I.   RI
40        South Carolina    S.C.   SC
41          South Dakota    S.D.   SD
42             Tennessee   Tenn.   TN
43                 Texas    Tex.   TX
44                  Utah    Utah   UT
45               Vermont     Vt.   VT
46              Virginia     Va.   VA
47            Washington   Wash.   WA
48         West Virginia   W.Va.   WV
49             Wisconsin    Wis.   WI
50               Wyoming    Wyo.   WY

In [6]:
prf = pd.read_csv("HHS_Provider_Relief_Fund.csv")
prf

,Provider Name,State,City,Payment
0,BRANDON ASTIN DMD LLC,AK,ANCHOR POINT,"$ 19,003"
1,ELIZABETH WATNEY,AK,ANCHOR POINT,$ 724
2,A HAND UP BEHAVIOR SERVICES,AK,ANCHORAGE,"$ 1,191"
3,A JOINT EFFORT PHYSICAL THERAPY,AK,ANCHORAGE,"$ 11,641"
4,"AA PAIN CLINIC, INC.",AK,ANCHORAGE,"$ 69,976"
...,...,...,...,...
399321,"JEFFRIES DENTAL,PC",WY,WORLAND,"$ 25,776"
399322,UROLOGICAL SERVICES OF NORTHERN WYOMING PROFES...,WY,WORLAND,"$ 8,883"
399323,WORLAND PHARMACY INC,WY,WORLAND,$ 137
399324,WORLAND PHYSICAL THERAPY,WY,WORLAND,"$ 11,498"
399325,WORLAND SLEEP DIAGNOSTICS LLC,WY,WORLAND,"$ 2,009"

In [7]:
prf['Payment']=(prf['Payment'].replace( '[\$,)]','', regex=True )
                   .replace( '[(]','-',   regex=True ).astype(float))

In [8]:
prf

,Provider Name,State,City,Payment
0,BRANDON ASTIN DMD LLC,AK,ANCHOR POINT,19003.0
1,ELIZABETH WATNEY,AK,ANCHOR POINT,724.0
2,A HAND UP BEHAVIOR SERVICES,AK,ANCHORAGE,1191.0
3,A JOINT EFFORT PHYSICAL THERAPY,AK,ANCHORAGE,11641.0
4,"AA PAIN CLINIC, INC.",AK,ANCHORAGE,69976.0
...,...,...,...,...
399321,"JEFFRIES DENTAL,PC",WY,WORLAND,25776.0
399322,UROLOGICAL SERVICES OF NORTHERN WYOMING PROFES...,WY,WORLAND,8883.0
399323,WORLAND PHARMACY INC,WY,WORLAND,137.0
399324,WORLAND PHYSICAL THERAPY,WY,WORLAND,11498.0
399325,WORLAND SLEEP DIAGNOSTICS LLC,WY,WORLAND,2009.0

In [9]:
payments_by_state = prf[['State', 'Payment']].groupby('State').sum()

In [12]:
payments_by_state.reset_index(inplace=True)

In [13]:
payments_by_state

   State       Payment
0     AK  2.228942e+08
1     AL  1.304513e+09
2     AR  9.258816e+08
3     AS  5.950917e+06
4     AZ  1.473716e+09
5     CA  8.436327e+09
6     CO  1.218122e+09
7     CT  1.340144e+09
8     DC  2.145073e+08
9     DE  3.613994e+08
10    FL  4.222356e+09
11    FM  3.116570e+05
12    GA  3.072988e+09
13    GU  2.232198e+07
14    HI  2.646145e+08
15    IA  1.098506e+09
16    ID  3.844570e+08
17    IL  5.187121e+09
18    IN  1.937125e+09
19    KS  1.042407e+09
20    KY  1.569892e+09
21    LA  2.058911e+09
22    MA  3.145542e+09
23    MD  1.942805e+09
24    ME  4.864586e+08
25    MH  2.645400e+04
26    MI  3.137682e+09
27    MN  1.997591e+09
28    MO  2.003650e+09
29    MP  6.169102e+06
30    MS  1.099397e+09
31    MT  3.967970e+08
32    NC  2.307769e+09
33    ND  3.280125e+08
34    NE  7.735680e+08
35    NH  3.971485e+08
36    NJ  4.253487e+09
37    NM  5.837734e+08
38    NV  7.574267e+08
39    NY  1.169837e+10
40    OH  3.750330e+09
41    OK  1.162205e+09
42    OR  9.705782e+08
43    PA  4.431648e+09
44    PR  1.259441e+08
45    PW  1.057313e+06
46    RI  3.654651e+08
47    SC  1.189655e+09
48    SD  4.796845e+08
49    TN  2.495164e+09
50    TX  6.816724e+09
51    UT  5.198697e+08
52    VA  1.669263e+09
53    VI  1.977936e+07
54    VT  2.044908e+08
55    WA  1.891276e+09
56    WI  1.501123e+09
57    WV  6.424809e+08
58    WY  1.850194e+08

In [14]:
from config import local_db_user, local_db_pwd, local_db_endpoint, local_db_port, local_db_name

In [15]:
# local Postgres DB Connection
local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}")

# Create a local database engine connection
local_conn = local_engine.connect()

# Create local gwsis database
try:
    local_conn.execution_options(isolation_level="AUTOCOMMIT").execute(f"CREATE DATABASE {local_db_name}")
except Exception as e:
    print(e)
    
# Connect to local gwsis database
try:
    local_engine = create_engine(f"postgresql://{local_db_user}:{local_db_pwd}@{local_db_endpoint}:{local_db_port}/{local_db_name}")
    local_conn = local_engine.connect()
except Exception as e:
    print(e)

#confirm tables
local_engine.table_names()

#upload dataframe to database
prf.to_sql(name='prf', if_exists='replace', con=local_conn, index=False)
payments_by_state.to_sql(name='relief_payments_by_state', if_exists='replace', con=local_conn, index=False)